/* *{
    border: 1px solid red;
}  */

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }

nav.navbar{
    background: rgb(229, 235, 232);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
}

a.nav-link{
    color: #2c3e50;
    font-weight: bold;
}


img.logo{
    margin: 0.5em;
}

.dropdown-menu.show {
    background-color:#9EB3A4;
   
}

.dropdown-item{
    font-size: 16px;
    color: #2E2E2E;
}

#text{
    font-weight: bolder;
}

header{
    background-image: url(Assets/images/Background-palay.png);
    background-size: cover;
}


.masthead {
    padding-top: calc(15.3rem + 74px);
    padding-bottom: 15.3rem;
  }
  .masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;

  }
  .masthead .masthead-subheading {
    font-size: 1.25rem;
  }
  .masthead .masthead-avatar {
    width: 15rem;
  }
  
  @media (min-width: 992px) {
    .masthead {
      padding-top: calc(15.3rem + 104px);
      padding-bottom: 15.3rem;
    }
    .masthead .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    .masthead .masthead-subheading {
      font-size: 1.5rem;
    }
  }

  .divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;
  }
  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }
  .divider-custom .divider-custom-icon {
    color: #2c3e50;
    font-size: 2rem;
  }
  .divider-custom.divider-light .divider-custom-line {
    background-color: #00ac5c;
  }
  .divider-custom.divider-light .divider-custom-icon {
    color: #F4BE53;
  }

  
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
    color: #2E2E2E;
  }


  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .masthead-heading {
    text-shadow: -30px 20px 15px rgba(0, 0, 0, 0.5);
    
  }

  .marketing_section{
    width: 100%;
    float: left;
}


.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.image_1{
    width: 100%;
    float: left;
}

 
.job_section{
    width: 80%;
    float: right;
}

.job_section_2{
  width: 80%;
  float: left;
}

.jobs_text{
    width: 100%;
    float: left;
    font-size: 46px;
    color: #111104;

}

.dummy_text{
    width: 100%;
    float: left;
    font-size: 17px;
    color: #252525;
    margin-left: 0px;
    font-family: 'Tahoma';
}


.marketing_section{
  width: 100%;
  float: left;
}


img {
  max-width: 100%;
  height: auto;
}

.boxofcolor{
  background-color: #BEA35B;
}

h1 {
  font-size: 24px;
  letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #080808;
     margin: 0
}


.copyright {
  background-color: #678A71;
  position: static;
}

.footer_section {
  height: auto;
  width: 100%;
  background-color: rgb(234, 240, 234);
  padding: 10em;
  margin-top: 50em;
}

.subscribr_text{
  width: 100%;
  float: left;
  color: #111111;
}

.farmer{
  float: left;
  width: 30%;
  height: 20%;
  margin: 1em;
  padding: 0em;
}